@charset "UTF-8";
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a:hover {
  color: #f05f40;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

img {
  max-width: 100%;
}

input[type*="text"],
input[type*="email"] {
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-bottom: 2rem;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.no-pad {
  padding: 0rem 0;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.wide {
  max-width: 1500px;
}

.narrow {
  max-width: 900px;
}

li.bun.first {
  top: -20%;
}

li.bun.first.hidden {
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  visibility: hidden;
}

.btn--pill span:after {
  display: inline-block;
  content: "→";
  font-family: 'icon-font';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 22px;
  line-height: 0;
}

.list-link {
  display: flex;
  justify-content: space-between;
}

.vline {
  position: relative;
  top: 0;
  left: 50%;
  height: 150px;
  bottom: 0;
  margin: 0;
  margin-bottom: 1rem;
  border: none;
  border-left: solid 1px #000;
  z-index: 10;
}

.inline-hr {
  width: 100px;
  display: inline-block;
  margin-bottom: 5px !important;
  border: 1px solid #000;
}

.thin-text {
  font-weight: 100;
}

.serif {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.sans-serif {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.middle-hr {
  margin-bottom: 15px !important;
}

.vertical-center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row !important;
  justify-content: unset;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

button:after {
  content: '>';
  padding-left: 6px;
}

.vertical-divider {
  border-top: 0;
  border-right: 1px solid grey;
  height: 100%;
  margin-right: 4px;
}

#scroll-transform {
  -webkit-transform: matrix(0, 0, 0, 0, 0, 0);
}

div.carousel-fh {
  width: 473px;
  height: 640px;
  background-color: #cccccc;
  justify-content: center;
  align-items: center;
  display: flex;
}

div.carousel-hh {
  width: 473px;
  height: 300px;
  background-color: #cccccc;
  justify-content: center;
  align-items: center;
  display: flex;
}

.carousel-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 640px;
}

.blur-in {
  -webkit-animation: blur 2s forwards;
  -moz-animation: blur 2s forwards;
  -o-animation: blur 2s forwards;
  animation: blur 1s forwards;
}

.blur-out {
  -webkit-animation: blur-out 2s forwards;
  -moz-animation: blur-out 2s forwards;
  -o-animation: blur-out 2s forwards;
  animation: blur-out 2s forwards;
}

.overlay-hidden {
  -webkit-animation: blur-complete 2s forwards;
  -moz-animation: blur-complete 2s forwards;
  -o-animation: blur-complete 2s forwards;
  animation: blur-complete 1s forwards;
}

.overlay-show {
  -webkit-animation: blur-out 2s forwards;
  -moz-animation: blur-out 2s forwards;
  -o-animation: blur-out 2s forwards;
  animation: blur-out 2s forwards;
}

@keyframes blur {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  33% {
    opacity: 0.7;
    filter: blur(4px);
  }
  34% {
    opacity: 0.5;
    filter: blur(6px);
  }
  100% {
    opacity: 0.4;
    filter: blur(12px);
  }
}

@-webkit-keyframes blur {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  33% {
    opacity: 0.7;
    filter: blur(4px);
  }
  34% {
    opacity: 0.5;
    filter: blur(6px);
  }
  100% {
    opacity: 0.4;
    filter: blur(12px);
  }
}

@keyframes blur-complete {
  0% {
    opacity: 0.4;
    filter: blur(0px);
  }
  33% {
    opacity: 0.3;
    filter: blur(4px);
  }
  34% {
    opacity: 0.1;
    filter: blur(6px);
  }
  100% {
    opacity: 0;
    filter: blur(12px);
  }
}

@-webkit-keyframes blur-complete {
  0% {
    opacity: 0.4;
    filter: blur(0px);
  }
  33% {
    opacity: 0.3;
    filter: blur(4px);
  }
  34% {
    opacity: 0.1;
    filter: blur(6px);
  }
  100% {
    opacity: 0;
    filter: blur(12px);
  }
}

@keyframes blur-out {
  0% {
    opacity: 0.4;
    filter: blur(14px);
  }
  33% {
    opacity: 0.5;
    filter: blur(8px);
  }
  34% {
    opacity: 0.7;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@-webkit-keyframes blur-out {
  0% {
    opacity: 0.4;
    filter: blur(14px);
  }
  33% {
    opacity: 0.5;
    filter: blur(8px);
  }
  34% {
    opacity: 0.7;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.cover {
  overflow: hidden;
}

.cover::before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

/* Position the content inside the overlay */
.overlay-content {
  position: fixed;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  opacity: 0;
  z-index: -1;
}

.overlay-content ul > li {
  list-style: none;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 0.95rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 50vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3rem;
  }
}

a.target-burger {
  position: absolute;
  display: block;
}

a.target-burger:hover {
  cursor: pointer;
}

a.target-burger.toggled ul.buns li.bun {
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}

a.target-burger.toggled ul.buns li.bun:first-child {
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}

a.target-burger.toggled ul.buns li.bun:last-child {
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
}

a.target-burger ul.buns {
  width: 1.625em;
  height: 1.625em;
  list-style: none;
  margin: -1.625em/2 0 0 -1.625em/2;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #fff;
}

@media (max-width: 1024px) {
  a.target-burger ul.buns li.bun {
    display: none;
  }
}

a.target-burger ul.buns li.bun {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 10%;
  -webkit-transform: translateY(-3.75px) translateZ(0);
  transform: translateY(-3.75px) translateZ(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}

a.target-burger ul.buns li.bun:first-child {
  -webkit-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1s ease-in-out;
  -moz-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

a.target-burger ul.buns li.bun:last-child {
  -webkit-transform: translateY(3.75px) translateZ(0);
  transform: translateY(3.75px) translateZ(0);
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  background: transparent;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.carousel-indicators {
  left: unset;
  bottom: -4rem;
  margin-right: unset;
}

.carousel-indicators li {
  background-color: grey;
  margin-left: 15px;
  width: 70px;
}

.carousel-indicators .active {
  background-color: #000;
}

.carousel-inner .active {
  display: flex;
  justify-content: space-between;
}

.carousel.carousel-fade .carousel-item {
  opacity: 0;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: fadeOut;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.form-group .form-control, .form-group .form-control:before, .form-group .form-control:after {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.form-group .form-control:focus {
  outline: 1px;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group .form-control:not(focus) {
  outline: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer {
  background: #000;
  height: 60px;
  display: flex;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
