// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  @include sans-serif-font;
  background: transparent;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64,.5) !important;
  }
}

.carousel-indicators {
  left: unset;
  bottom: -4rem;
  margin-right: unset;

  li {
    background-color: $grey;
    margin-left: 15px;
    width: 70px;
  }
  .active{
    background-color: $black;
  }
}

.carousel-inner .active {
  display: flex;
  justify-content: space-between;
}

.carousel.carousel-fade .carousel-item {
  opacity: 0;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: fadeOut;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.form-group .form-control, .form-group .form-control:before,.form-group .form-control:after {
  outline:none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent!important;
}

.form-group .form-control:focus {
  outline: 1px;
  border-bottom: 1px solid $black;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group .form-control:not(focus) {
  outline: 1px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer {
  background: $black;
  height: 60px;
  display: flex;
}

@-webkit-keyframes fadeOut {
  from { opacity: 0; }
   to   { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 0; }
   to   { opacity: 1; }
}
