// Gallery Slider

// Full-height carousel 
div.carousel-fh {
    width: 473px;
    height: 640px;
    background-color: #cccccc;
    justify-content: center;
    align-items: center;
    display: flex;
}

// Half-height carousel
div.carousel-hh {
    width: 473px;
    height: 300px;
    background-color: #cccccc;
    justify-content: center;
    align-items: center;
    display: flex;
}

// Container for two rows in the carousel gallery
.carousel-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 640px;
}
