// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $black;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
    text-decoration: none;
  }
  @include sans-serif-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

img {
  max-width: 100%;
}

input[type*="text"],
input[type*="email"],
{
  border: 0;
  border-bottom: 1px solid $black;
  border-radius: 0;
  margin-bottom: 2rem;
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.no-pad {
  padding: 0rem 0;
}

.no-scroll {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

.wide {
  max-width: 1500px;
}

.narrow {
  max-width: 900px;
}

li.bun.first {
  top: -20%;
}

li.bun.first.hidden {
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  visibility: hidden;
}

.btn--pill span:after {
  display: inline-block;
  content: "→";
  font-family: 'icon-font';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 22px;
  line-height: 0;
}

.list-link {
  display: flex;
  justify-content: space-between;
}

// Vertical line

.vline {
  position:relative;
  top:0;
  left:50%;
  height: 150px;
  bottom:0; 
  margin:0;
  margin-bottom: 1rem;
  border:none;
  border-left: solid 1px $black;
  z-index:10;
}

.inline-hr {
  width: 100px;
  display: inline-block;
  margin-bottom: 5px !important;
  border: 1px solid $black;
}

.thin-text {
  font-weight: 100;
}

.serif {
  @include serif-font();
}

.sans-serif {
  @include serif-font();
}

.middle-hr {
    margin-bottom: 15px !important;
}

.vertical-center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row !important;
  justify-content: unset;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

button:after {
  content: '>';
  padding-left: 6px;
}

.vertical-divider {
    border-top: 0;
    border-right: 1px solid grey;
    height: 100%;
    margin-right: 4px;
}

#scroll-transform {
  -webkit-transform: matrix(0, 0, 0, 0, 0, 0);
}