// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
    font-weight: 300;
    @include serif-font;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 0.95rem;
    }
  }
  @media (min-width: 992px) {
    height: 50vh;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3rem;
    }
  }
}
// Buns in burger menu animate when clicked.
a.target-burger{
  position: absolute;
  display: block;
  &:hover{
      cursor: pointer;
  }
  &.toggled{
      ul.buns{
          li.bun{
              &:first-child{
                -webkit-transform: rotate(45deg) translateZ(0);
                transform: rotate(45deg) translateZ(0);
              }
              -webkit-transform: rotate(45deg) translateZ(0);
              transform: rotate(45deg) translateZ(0);
              &:last-child{
                  -webkit-transform: rotate(-45deg) translateZ(0);
                  transform: rotate(-45deg) translateZ(0);
              }
          }
      }
  }
  //The buns rotate back to normal using transition.
  ul.buns{
      @media (max-width:1024px) {
        li.bun {
         display: none; 
        }       
      }
      width: 1.625em;
      height: 1.625em;
      list-style: none;
      margin: -1.625em/2 0 0 -1.625em/2;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
      transition: transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      color: $white;
      li.bun{
          &:first-child{
            -webkit-transition: transform 1s cubic-bezier(.23,1,.32,1), opacity 1s ease-in-out;
            -moz-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1), opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
          }
          width: 100%;
          height: 2px;
          background-color: $black;
          position: absolute;
          top: 10%;
          -webkit-transform: translateY(-3.75px) translateZ(0);
          transform: translateY(-3.75px) translateZ(0);
          -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
          transition: transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
          &:last-child{
              -webkit-transform: translateY(3.75px) translateZ(0);
              transform: translateY(3.75px) translateZ(0);
          }
      }
  }
}