// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.inline-block{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@mixin opacity($opacity){
  -webkit-opacity: 	$opacity;
  -moz-opacity: 		$opacity;
  opacity: 		$opacity;
}
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}
@mixin box-shadow($string){
  -webkit-box-shadow: $string;
  -moz-box-shadow:    $string;
  box-shadow:         $string;
}
@mixin text-shadow($string){
  -webkit-text-shadow: $string;
  -moz-text-shadow:    $string;
  text-shadow:         $string;
}
@mixin transition($duration){
   -webkit-transition: all $duration ease;
   -moz-transition: all $duration ease;
   -o-transition: all $duration ease;
   transition: all $duration ease;
}
@mixin animated($duration){
   -webkit-animation-duration: $duration;
   -moz-animation-duration: $duration;
   animation-duration: $duration;
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   animation-fill-mode: both;
}
