//Overlay animation using keyframes

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 1s forwards;
}
.blur-out {
-webkit-animation: blur-out 2s forwards;
-moz-animation: blur-out 2s forwards;
-o-animation: blur-out 2s forwards;
animation: blur-out 2s forwards;
}
.overlay-hidden {
    -webkit-animation: blur-complete 2s forwards;
    -moz-animation: blur-complete 2s forwards;
    -o-animation: blur-complete 2s forwards;
    animation: blur-complete 1s forwards;
}
.overlay-show {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}
@keyframes blur {
0% { opacity: 1; filter: blur(0px); }
33% { opacity: 0.7; filter: blur(4px);}
34% { opacity: 0.5; filter: blur(6px);}
100% { opacity: 0.4; filter: blur(12px);}
}
@-webkit-keyframes blur {
0% { opacity: 1; filter: blur(0px); }
33% { opacity: 0.7; filter: blur(4px);}
34% { opacity: 0.5; filter: blur(6px);}
100% { opacity: 0.4; filter: blur(12px);}    
}
@keyframes blur-complete {
0% { opacity: 0.4; filter: blur(0px);}
33% { opacity: 0.3; filter: blur(4px);}
34% { opacity: 0.1; filter: blur(6px);}
100% { opacity: 0; filter: blur(12px);}
}
@-webkit-keyframes blur-complete {
0% { opacity: 0.4; filter: blur(0px); }
33% { opacity: 0.3; filter: blur(4px);}
34% { opacity: 0.1; filter: blur(6px);}
100% { opacity: 0; filter: blur(12px);}    
}
@keyframes blur-out {
0% { opacity: 0.4; filter: blur(14px); }
33% { opacity: 0.5; filter: blur(8px);}
34% { opacity: 0.7; filter: blur(4px);}
100% { opacity: 1; filter: blur(0px);}
}
@-webkit-keyframes blur-out {
0% { opacity: 0.4; filter: blur(14px); }
33% { opacity: 0.5; filter: blur(8px);}
34% { opacity: 0.7; filter: blur(4px);}
100% { opacity: 1; filter: blur(0px);}    
}

// Disable scrolling when overlay is on.
.cover {
    overflow: hidden; 
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        }
}
    
/* Position the content inside the overlay */
.overlay-content {
    position: fixed;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    ul > li {
        list-style: none;
    }
    opacity: 0; 
    z-index: -1;
}

